.none {
    border: none;
    color: var(--initColor);
    background-color: var(--initBgcolor);
}

.filled {
    border: none;
    color: var(--initColor);
    background-color: var(--initBgcolor);
}

.ghost {
    border-style: solid;
    border-color: var(--initColor);
    color: var(--initColor);
    background-color: var(--initBgcolor);
}

.ghost-filling {
    border-style: solid;
    border-color: var(--initColor);
    color: var(--initColor);
    background-color: var(--initBgcolor);
}

.filling {
    padding: 0.2em;
    background-clip: content-box;
    border-style: solid;
    border-color: var(--initBgcolor);
    background-color: var(--initBgcolor);
    color: var(--initColor);
    transition: padding 0.2s ease;
    }

@media (hover:hover) {
    .ghost-filling:hover {
        color: var(--color);
        background-color: var(--bgcolor);
        transition: background-color 0.2s ease;
    }
    .filling:hover {
        padding: 0;
        transition: padding 0.2s ease;
    } 
}

